.path {
  display: flex;
  justify-content: baseline;
  margin: 4px;

  &-label {
    align-items: center;
    display: inline-flex;
    user-select: none;
  }

  &-input {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    margin: 0 4px;
  }
}
